h1, h2, h3, h4, h5, h6, p, ol, ul, li {
    padding: 0;
    margin: 0;
}
#header {
    background-color: #cff;
    width: 100%;
    height: 80px;
}
#container {
    background-color: #eee;
    width: 500px;
    margin: 0 auto;
}
#left_col {
    background-color: #ddf;
    float: left;
    width: 100px;
}
#right_col {
    background-color: #fdd;
    width: 400px;
    margin: 0 0 0 100px;
}
#footer {
    background-color: #ffc;
    width: 100%;
    height: 50px;
    clear: both;
}