// sass styles/scss/styles.scss styles/css/styles.css

////////////
// colors:
////////////
//
    $rgbBlackText: #000;
    $rgbWhiteText: #999;
    
    $rgbColorLight: #F94600;
    $rgbColorDark: #000;
//
////////////

////////////
// widths:
////////////
//
    $contentWidth: 480px;
    $leftColWIdth: 0px;
    $rightColWidth: $contentWidth - $leftColWIdth;
//
////////////

////////////
// heights:
////////////
//
    $headerHeight: 100px;
    $footerHeight: 50px;
    $wishHeight: 80px;
//
////////////

@mixin dbg {
    background-color: rgba(255, 255, 255, 0.05);
}

@mixin blockColor($bgColor, $textColor) {
    background-color: $bgColor;
    color: $textColor;
}
@mixin lightBlock {
    @include blockColor($rgbColorLight, $rgbBlackText);
}
@mixin darkBlock {
    @include blockColor($rgbColorDark, $rgbWhiteText);
}

@mixin horCentered {
    margin-left: auto;
    margin-right: auto;
} 

@mixin spanTag($name, $color) {
    span.#{$name} {
        padding: 0 5px;
        border-radius: 0 10px 10px 0;
        
        margin: 0 5px;
        //font-weight: bold;
        color: $rgbBlackText;
        background-color: $color;
        &:after {
            content: "#{$name}"; 
        }
    }
}


html, 
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Georgia"
}
h1,h2,h3,h4,h5,h6,p,
ol,ul,li {
    padding: 0;
    margin: 0;
}
body {
    @include darkBlock;
    #header {
        @include lightBlock;
        width: 100%;
        position: relative;
        .container {
            h1 {
                text-align: right;
            }
        }
    }
    .header {
        height: $headerHeight;
    }
    #container {
        min-height: 100%;
        margin-bottom: -$footerHeight;
        margin-top: -$headerHeight;
        
        //@include dbg;

        margin: (-$headerHeight) auto (-$footerHeight) auto;
        #left_col {
            float: left;
            width: $leftColWIdth;
            //@include dbg;
        };
        #right_col  {
            width: $rightColWidth;
            float: right;
            ul.wishList {
                
                display: block;
                
                a {
                    color: #fff;//#cd0;
                }
                li {
                    display: block;
                    list-style: none;
                    margin: 4px 0;
                    padding-left: 4px;
                    border-left: 2px solid $rgbColorLight;
                    tr {
                        td:nth-child(1) {
                            text-align: right;
                            vertical-align: top;
                        }
                        p {
                            padding: 0 5px;
                        }
                        
                        @include spanTag("impossible", #FF00CF);
                        @include spanTag("hard", rgb(243, 34, 0));
                        @include spanTag("medium", rgb(255, 174, 8));
                        @include spanTag("easy", #BFF60B);
                    }

                }

            }
        };
        .buffer {
            clear: both;
        }
    }
    .container {
        width: $contentWidth;
        @include horCentered;
    }
    #footer {
        @include lightBlock;
        width: 100%;
        text-align: right;
    }
    .footer {
        height: $footerHeight;
    }
}



